[2015-04-01 12:28] InfiniteAmmoInc opened #1 "Pasting into the middle of text doesn't work"
Copy/Paste to/from clipboard is working, but paste always adds to the end of the text instead of pasting at the cursor location.

[2015-04-01 12:31] InfiniteAmmoInc opened #2 "Copy/Paste/Undo on Mac don't use command key"
For some reason it seems tricky to get the command key to work on Mac. Instead CTRL+C, CTRL+V, CTRL+X, CTRL+Z are being used for now.

An attempt was made to capture the command key into the self.appleCmdKey variable. This seems to be getting set properly, but using it to detect key combos doesn't seem to work yet.

[2015-04-01 12:32] InfiniteAmmoInc commented on #1
Relevant code for this is found in app.js, line 448. (lines 424-434 are also relevant)

[2015-04-01 13:16] seiyria commented on #1
This works for me currently. Is this reproducible only on mac?

[2015-04-01 14:58] InfiniteAmmoInc commented on #1
Hmm yeah it might be a mac-only bug! Noel coded that part in Windows, so maybe that's why he wasn't aware of the problem.

[2015-04-02 15:27] seiyria opened #4 "replace current editor with ace editor"
The current editor could be replaced with [Ace Editor](http://ace.c9.io). Questions are:

* What syntax is there? Preferably, a grammar would help but a bunch of examples can serve that purpose just as well.
* What colors should the syntax highlighter be?

[2015-04-02 16:10] AlecHolowka commented on #4
Commands: << >>
Links: [[ ]]
Comments: //

The colours are in the style css under "conditionbounds," "linkbounds" and "comment" classes, I'll grab codes

[2015-04-02 16:12] AlecHolowka commented on #4
.linkname
{
	color: #3ecfe9;
}

.linkbounds
{
	color: #0ec0e0;
}

.condition
{
	color: #e93ecf;
}

.conditionbounds
{
	color: #e00ec0;
}

.comment
{
	color: #44fe66;
}

[2015-04-02 19:17] seiyria commented on #4
here's what I have:

![](http://puu.sh/gZa2v/884584e331.jpg)

PR incoming after I get rid of the top bar

[2015-04-02 19:22] AlecHolowka commented on #4
Very cool :) does it scroll too?

The other small detail is sometimes the connections [[]] have pipes | like so [[This is a dialogue option|NodeName]]

In this case we were highlighting the [[ and ]] and the mode name and the pipe | but not the option text.

Not a big deal but it helps readability a bit.

Thanks so much. :) I wish we'd heard of Ace earlier.

[2015-04-02 19:24] seiyria commented on #4
Yeah, it will scroll. Hm, you might not want to merge my PR yet then, the regex for it is simple: `[a-zA-Z0-9 ]+` so it doesn't account for things like vertical bars either.

I'll see if I can change the regex to make it more readable; I agree, it would be much easier to read if the text wasn't colored as well!

[2015-04-02 20:01] InfiniteAmmoInc commented on #4
Not sure if this code helps at all, but this is what was being used before:

[code]
text = text.replace(/\</g, '&lt;');
		text = text.replace(/\>/g, '&gt;');
		text = text.replace(/\&lt;\&lt;(.*?)\&gt;\&gt;/g, '<p class="conditionbounds">&lt;&lt;</p><p class="condition">$1</p><p class="conditionbounds">&gt;&gt;</p>');
		text = text.replace(/\[\[([^\|]*?)\]\]/g, '<p class="linkbounds">[[</p><p clas

[2015-04-02 20:02] InfiniteAmmoInc commented on #4
Here's the old code for that, not sure if it'd be helpful or not :)

[code]

[2015-04-02 22:03] seiyria commented on #4
Just showing that each component can be colored separately:

![](http://puu.sh/gZlCi/8572cd0281.png)

I'll adjust these colors to match what they previously were and show you how to tweak them after I update my PR.

[2015-04-02 22:04] InfiniteAmmoInc commented on #4
Awesome. :D

[2015-04-02 22:15] seiyria commented on #4
Alright, here is the CSS you'd have to change: https://github.com/seiyria/Yarn/blob/master/app/js/libs/theme-yarn.js#L14-L38

Here are what the specific tokens are:
https://github.com/seiyria/Yarn/blob/master/app/js/libs/mode-yarn.js#L14-L51

If a token is, say, `paren.lcomm` that will get expanded into the CSS classes `.ace-paren.ace-lcomm` so you can target it that way.

Conversion is as follows

[2015-04-03 06:45] InfiniteAmmoInc opened #6 "Scrolling/Panning the file doesn't work on Windows Build"
Clicking and dragging on the back of the node area doesn't let you drag the screen around anymore. Seems to only happen with the Windows build.

Scrolling to zoom doesn't seem to work either.

Clicking the area around the node editor window to close it also doesn't work.

[2015-04-03 12:38] 3noneTwo commented on #6
I've briefly checked out Yarn on Windows (Win 7, 64-bit) by downloading the source, locating the 'index.html' file inside the 'app' folder, and opening it in NWJS. Panning seems to be working (both by left-click-dragging and middle-click-dragging on the background), and I can close the node editor window by clicking outside it.

Zooming with the scroll-wheel works, but it seems to zoom in single-p

[2015-04-03 14:27] InfiniteAmmoInc commented on #6
This should be fixed now, updated the zoom speed to be different on Mac/Windows. :)

[2015-04-03 20:29] #6 closed

[2015-04-03 20:29] #4 closed

[2015-04-03 20:29] #2 closed

[2015-04-03 20:29] #1 closed

[2015-04-07 17:02] InfiniteAmmoInc opened #7 "Colored Node Titlebars"
It'd be cool to be able to colour code nodes for easy visual organization. :)

Going to think about how to approach this...

[2015-04-09 01:13] #7 closed

[2015-10-07 14:16] agustincordes opened #14 "Support for voice overs"
Hi all! I'm very impressed about this project. I've been trying for some time to devise a flexible yet simple dialogue system for our adventure game Asylum which also integrates with Unity; it never occurred to me that Twine was the answer, but I can see how it makes much sense. After a few tests, I'm ready to adopt Yarn. It's really neat how you can go from simple conversations to very complex sy

[2015-10-07 14:35] agustincordes opened #15 "Handling facial expressions"
It would be nice to have some way to trigger facial expressions in our characters. I was thinking that maybe tags were the answer but this is not feasible; tags are useful for editing the dialogue but I don't see how we could reuse them in our respective implementations as they're specific to each node (which contain several lines of dialogue).

Rather, a system could be devised in which we insert

[2015-10-08 19:42] InfiniteAmmoInc commented on #15
So far we've left this up to each user's DialogueImplementation. i.e. in Night in the Woods for example, emoticons are parsed to setup expressions. :) :D :( etc...

[2015-10-08 19:43] InfiniteAmmoInc commented on #14
Hi, thanks for your interest. :)

There has been some talk about coming up with a system for this. e.g. Night in the Woods will have to do something like this for localization purposes.

[2015-10-08 20:32] agustincordes commented on #15
Alright, thanks! Emoticons are a nicer approach. I'll stick to that. For non-standard ones, the syntax used for Emoji would be more consistent then:

    Frank: Why not? :frowning:

I'll close the issue!

[2015-10-08 20:32] #15 closed

[2015-10-08 20:33] agustincordes commented on #14
OK, I'll leave this open and post some ideas later :)

[2016-01-12 10:44] darthbator opened #16 "Extremely high OSX CPU use"
I believe this is related to the following issue

https://github.com/nwjs/nw.js/issues/2723

I believe just integrating the new version should fix it. I should probably do it myself but I am super lazy!

![Issue Image](http://i.imgur.com/wUdEQmr.png)

[2016-02-17 11:05] desplesda opened #20 "Question about running Yarn as a web page vs an app"
Currently, Yarn can be run as a web page, in the browser. This has its good points and bad points - running in a web view means you can link to it directly, and can run it in a browser tab if you like. Some people quite like that.

However, running in a web browser has its downsides: web pages can't access the filesystem, which means that 'saving' really means opening a new page containing the JSO

[2016-02-17 14:22] beeglebug commented on #20
I personally really like that it is available as a hosted web app. I think there is a lot more that we can do to make the functionality on par with a compiled app, especially if we set the bar higher on browser support (eg http://caniuse.com/#feat=filesystem), but if i'm the only person using it in the browser then i'm willing to get behind dropping support.

At the end of the day the best way to

[2016-02-18 03:16] desplesda commented on #20
Yeah. The thing in particular that I'm thinking about is using something like Edge (https://github.com/tjanczuk/edge) to run the Yarn Spinner compiler (which is a .NET DLL) on your Yarn content. This would allow for things like syntax checking and lots else; however, Edge only works when you're not a web page, because it requires running a .NET runtime.

(I've looked into other options, like recom

[2016-02-18 10:24] InfiniteAmmoInc commented on #20
Although I don't have any hard data on how people are using Yarn, (closest I can think of trying is asking twitter lol) I think it's worth focusing on desktop app first in order to support more functionality. However, we could also try to maintain a web-only branch if that's still something of interest?

[2016-02-18 10:29] desplesda commented on #20
It probably wouldn't be too hard to detect if Yarn is running in a browser page, and disable features.

[2016-02-18 10:43] desplesda opened #22 "Node deselection behaviour"
* Clicking on a node once should select it, and deselect any other nodes.
* Clicking on the background should deselect all nodes.

(Currently, if you drag a box around nodes, the only way to **de**select them is to drag another box, and select either different nodes or no nodes. There's no other way to deselect nodes, I think?)

[2016-02-19 00:22] #20 closed

[2016-02-19 05:34] InfiniteAmmoInc commented on #22
Got the second one working.

[2016-02-19 05:38] InfiniteAmmoInc commented on #22
...and first one. There's a bug where the node highlights stop appearing if they've ever been marquee selected. Not sure what's up with that yet. :)

[2016-02-19 07:54] desplesda commented on #22
Verified that the first item (clicking a node deselects other nodes) works in the app, but not the second (clicking the background deselects all nodes). Here's a gif of what I'm seeing:

![yarn deselection](https://cloud.githubusercontent.com/assets/901768/13169514/3dbdf02a-d73a-11e5-9238-053b83ff88d5.gif)

[2016-02-19 12:06] InfiniteAmmoInc commented on #22
Pushed a fix. The highlighting stuff I mentioned is still broken tho.

[2016-02-19 12:17] InfiniteAmmoInc commented on #22
ugh, caused another bug tho. :P my html5/js game is weak

[2016-02-22 20:27] darthbator commented on #16
I went ahead and made a new OSX build from current source based on the newer nwjs library. Issue no longer occurs. You might want to update the packaged build on the website!

https://www.dropbox.com/sh/ffl9b7zg89no8xl/AACijwFJ8X09c9CHyBd0QswCa?dl=0

[2016-02-22 20:59] InfiniteAmmoInc commented on #16
Thanks for the head's up!

[2016-02-28 03:32] tekknobabblr opened #24 "Word wrap in editor?"
I'm trying to implement word wrap in the editor window. Been researching for hours now and no luck lol. It seems like it should already be working, based on what I've seen, since Yarn uses "TextArea".

Here's what we're seeing now:

![current](https://cloud.githubusercontent.com/assets/11084079/13377227/f508d8ce-dd9f-11e5-853f-528ba0e81461.jpg)

And a mock-up of what I'm thinking (how word wrap wo

[2016-02-28 03:41] desplesda commented on #24
Apologies if you’ve already looked, but have you checked out the documentation for ACE, the code editor that Yarn is using?

https://github.com/ajaxorg/ace/

[2016-02-28 04:27] tekknobabblr commented on #24
Ooh, no I have not! Thanks!

I got it! I added `editor.getSession().setUseWrapMode(true)` to knockout.ace on line 26, and that did exactly what I was looking for!

[2016-02-28 13:17] desplesda commented on #24
Cool! You should open a pull request, so that @InfiniteAmmoInc can merge it into the main app!

[2016-02-28 19:38] tekknobabblr commented on #24
Still a noob at GitHub, but I think I did it right lol.

Not sure if this is something that would go in the main branch yet or not, though. I mean, I wanted word wrap, but is that something everyone would want? Seems like something that will need a checkbox implemented to turn it on or off.

[2016-03-23 00:27] konistehrad opened #26 "Support for Twee Setter Links?"
Twine supports a more robust version of a link called a [setter link](https://twinery.org/wiki/link#setting_variables_with_setter-links), which assigns variables at the time a jump is made. Importing a twee file using these links, however, doesn't show the links, and YarnSpinner (for example) also cannot parse them. Is there planned support? If there is not, was this decision made explicitly, or w

[2016-03-25 05:43] cjacobwade opened #27 "Create new nodes from links when closing a node?"
Would be nice to auto create nodes after adding a link to a non-existent node.

[2016-03-25 05:44] cjacobwade opened #28 "Click-through links from nodes?"
Would be awesome to click a link created from a node and have it be created if it doesn't exist and then open that node.

[2016-03-26 17:03] desplesda commented on #28
Do you mean clicking on the link to the node, in the text editor? If you do, it might be a little challenging, because clicking inside the link means "set the cursor here".

The Yarn Editor doesn't really have a "view" mode that would support this, and one would need to be added first.

(Not trying to shut down your idea! Just thinking through what it would need.)

[2016-03-26 17:04] desplesda commented on #27
The alternative would be to display some kind of warning that a node is linking to nodes that don't exist.

[2016-03-26 17:09] desplesda commented on #26
Poking my head in here since this is a feature that would need to be added to Yarn Spinner.

I can't speak for any motivation for not including them, if any, but this seems like a pretty reasonable and low-impact addition to the langauge. Two things:

* Probably I'd prefer the setter to be wholly within the `[[` and `]]` elements, so that the parser remains able to parse `[[` and `]]` as discrete

[2016-03-28 02:29] konistehrad commented on #26
@desplesda I guess the question here is: how important is twine syntax compatibility? The readme makes it seem like a requirement, but if it's not a priority for the team I understand.

I concede my reasoning is somewhat selfish: setter links are used pretty heavily in my neck of the woods, and changing the syntax to remove the `[[<cond>][varStatements]]` structure would be pretty breaking. Happy

[2016-03-28 06:13] HawkenKing opened #29 ""Play" mode?"
Would be nice if there were a super simple way to just check out your stories like in Twine. (unless there already is?!)

[2016-03-28 08:53] HawkenKing opened #30 "mac osx remember previous folder"
Would be nice if when saving, it remember the folder you opened from

[2016-03-28 08:54] HawkenKing opened #31 "mac osx use file name"
saving currently doesn't append any file name. Would be nice to have:

test < test.json (or whatever format)

[2016-03-28 08:56] HawkenKing opened #32 "drag file in to Yarn makes yarn die"
If I drag a Json file into the main window of yarn, would be nice if it opened the file, currently it just shows the raw Json

[2016-03-28 08:59] HawkenKing opened #33 "osx associate yarn with file types"
would be nice to associate yarn with file types so it opens when double clicking a Json etc.

[2016-03-28 09:10] HawkenKing opened #34 "auto complete node names"
would be nice if when typing [[ click here | NODENAME ] that NODENAME would complete if NODENAME exists, or underline if it didn't. Similar to using a code editor.

[2016-03-28 16:00] desplesda commented on #33
This one's unfortunately more tricky than it sounds.

The file extension needs to be .json because Unity will only treat files as plain text if they end in .json, .txt or .xml. This means that we can't define a custom ".yarn" extension.

However, Yarn shouldn't claim the .json file extension because not all .json files are going to be Yarn files.

(I wonder if we could define a file extension like

[2016-03-30 06:12] HawkenKing commented on #33
Letter Yarn claim Json is fine, Adobe do it all the time! :)
It doesn't come up on the list of software that supports .json when inspecting a .json file. If it could appear in there that would be nice.

[2016-08-12 10:04] clexit commented on #16
I completely forgot about this issue: Yarn was killing the battery of my laptop. I checked why it was happening, and the culprit is [this line](https://github.com/InfiniteAmmoInc/Yarn/blob/master/app/js/classes/app.js#L111).

Since I have no time for refactoring, I just replaced it with a recursive 1 sec timeout. It solved the issue for me, but I can't make a pull request, because the app doesn't

[2016-08-22 15:07] renaudbedard opened #37 "[Windows] CTRL+Z clears a node's contents"
Test case :

- Create a node, add content
- Exit node
- Double-click on that same node
- Hit CTRL-Z
- Node text disappears, and that operation can't be undone

Before hitting CTRL+Z

![image](https://cloud.githubusercontent.com/assets/251134/17859549/0f95a5d0-6858-11e6-9bb8-7f9c895439c7.png)

After hitting CTRL+Z

![image](https://cloud.githubusercontent.com/assets/251134/17859562/183ca530-6858-11

[2016-10-11 19:04] eporral1 opened #39 "<<print $var >> not working"
Is it possible to print the content of a variable ?

[2016-10-17 14:07] 3noneTwo opened #40 "Mouse-wheel actions for Zoom and Scroll aren't contextual, happen simultaneously"
Simple little bug/quality-of-life feature. If a node has enough text in it, a scrollbar will appear while the mouse is hovering over the node. But if you use your mouse-wheel to scroll through the text field, it'll **also** zoom in/out.

![yarnzoomscroll](https://cloud.githubusercontent.com/assets/11785298/19440720/46042ef8-94c6-11e6-927e-6d362a61b876.gif)

It'd be nice if Yarn didn't zoom while t

[2016-10-17 14:25] 3noneTwo opened #41 "Documentation for Yarn's additions/differences to the Twine language"
Obvious one. Bits and pieces of info about Yarn's various additions are available through YarnSpinner's [documentation folder](https://github.com/thesecretlab/YarnSpinner/tree/master/Documentation), [releases page](https://github.com/thesecretlab/YarnSpinner/releases), and [blog posts](http://www.secretlab.com.au/blog/?tag=yarn), but otherwise there doesn't appear to be a central location for Yarn

[2016-10-17 16:31] clexit commented on #40
Hm, yes, it looks a bit weird. I'm not sure we can simply turn off the zoom though.

Let's say you zoomed out and now want to zoom in to a specific card. In order to do that, you're going to hover over a scrollable text field, even though you don't mean to scroll it.

It's not obvious what's the best solution here from the UX perspective.

[2016-10-17 16:38] Zinggy commented on #40
Could remove the scrollable nature of the node. Not sure how useful it is to be able to view the entire text of a node prior to opening it up.

[2016-10-18 05:17] 3noneTwo commented on #40
@Zinggy I'd want to be able to look through nodes at a glance. Having to open every node to see what's inside would be a nightmare in itself.

@clexit One solution would be to allow the user to zoom in and out while the mouse is hovering over a node's title, and disable zooming while hovering over the text field. The scrollbar doesn't appear unless the mouse is hovering over the text field anyway,

[2016-10-18 07:55] clexit commented on #40
@Zinggy, yeah, I was thinking the same thing, but apparently 3noneTwo needs this feature.

@3noneTwo, I'd say it's a bit confusing, at least to me. You can try it here: https://cdn.rawgit.com/clexit/Yarn/issue_40/app/index.html

What about scrolling by dragging the scrollbar? We can use the mouse wheel for zooming and still allow scrolling by dragging the thumb.

![scroll](https://cloud.githubuser

[2016-10-18 15:05] 3noneTwo commented on #40
This is exactly the behavior I was expecting, but experimenting with it has highlighted another issue. (more on this at the bottom)

The biggest reason why I'd err against clicking and dragging the scrollbar, is that it adds a click and an element of precision to the user experience. When using a mouse, the precision is a small inconvenience, though the clicks will rack up as Yarn scripts become m

[2016-10-18 15:14] 3noneTwo commented on #6
It seems this was broken at some point, for the Windows build at least? Clicking and dragging with any mouse button results in a selection box.

Middle-click-drag would be perfect for panning. Keep the selection box for left-click-drag though, that mouse action makes sense. (Maybe remove the selection box for right-click-drag too, it's a bit goofy.)

[2016-10-19 13:02] InfiniteAmmoInc commented on #6
Hi! Right now "alt-drag" works for panning. Middle-click-drag seems like a good addition tho!

[2016-10-25 13:33] syastrebov opened #42 "Nested dependencies problem"
wrong repo

[2016-10-25 13:35] #42 closed

[2016-12-15 22:28] michael-mccrickard opened #43 "Problem saving files in OSX"
Using El Capitan,10.11.6 -- file will initially save, but subsequent saves fail.

![screen shot 2016-12-15 at 5 25 17 pm](https://cloud.githubusercontent.com/assets/6123832/21244486/dc482ec0-c2eb-11e6-80a7-1528572592a5.png)

[2016-12-22 10:14] darthbator commented on #16
Do you happen to have that change stashed in a branch somewhere? I'd like to check that out and build it so this works on my laptop during some travel I have coming up over the next few months.

[2017-01-19 12:38] clexit commented on #16
It's probably too late for that now, but maybe you can still use it :)

The changes are in [master](https://github.com/clexit/Yarn). You can play with it [here](https://cdn.rawgit.com/clexit/Yarn/f75d23aa/app/index.html).

I'm not sure about a PR, since this version adds a slight delay for arrows, so they don't look as pretty as in the current Yarn version. On the other hand, the current version u

[2017-01-19 12:41] clexit commented on #40
I added scrolling with Alt (Shift is a standard key for horizontal scrolling and Ctrl is already used for something). You can play with the new version [here](https://cdn.rawgit.com/clexit/Yarn/f75d23aa/app/index.html). If it's OK, maybe it would make sense to make a PR.

[2017-01-19 14:44] 3noneTwo commented on #40
Alt+scroll feels nice enough! Takes very little effort to move the thumb from the spacebar to the Alt key, so it's an easy habit to learn.

That said: In most programs on Windows, Alt is used to select the top-menu for keyboard navigation, requiring the user to press Alt a second time or click somewhere in Yarn in order to deselect the top-menu. This might not be a problem in builds that use Node,

[2017-01-20 18:18] clexit commented on #40
Ah, Windows. It looks like there are not a lot of options here. Ctrl is used for zoom in browser and Shift and Alt are used by the OS. Maybe Q then, since WASD is already used for navigation anyway, so gamers should be able to learn Q quickly.

It's not used in Yarn, but nodes are scrolled only horizontally then, because it's a system shortcut.

Ah, Windows again. I'm not sure at the moment what's

[2017-02-16 01:35] RyokiRayn opened #44 "Having Trouble Saving Anything"
So if I open Yarn in either NW.js or my browser, I can write out the dialogue tree I'm working on just fine, but whenever I go to save I get the four file type options but none of them save anything. In NW.js, if I click save as _____ it opens a separate window with a word document of my tree in it and will not save the file type I request.

[2017-03-02 15:59] edkek opened #45 "Documentation for file formats"
I can't seem to find any documentation for the different file formats that Yarn exports.  I want to write a library for [LibGDX](https://github.com/libgdx/libgdx) that adds support for the files Yarn exports.

I can get a general idea in [data.js](https://github.com/InfiniteAmmoInc/Yarn/blob/master/app/js/classes/data.js#L285) but I think it'd be useful to have written documentation somewhere for

[2017-03-03 21:28] desplesda commented on #45
Best way to do it would be adding a wiki page, I think!

[2017-03-15 02:37] Barryrowe opened #46 "[Question] Is there a way to navigate to a node without a user choice button?"
I'm looking for a way to do the following:

[code]

I can't find any documentation that shows how to make this happen. The best I can find is to present a button on the first pass through as the only user option. It would feel much more fluid if there was only the basic next button on the first visit. Is this possible?

[2017-03-15 03:10] desplesda commented on #46
Do this:

[code]

When you link to a node but don't provide a caption, Yarn Spinner interprets it as a command to jump directly to that node.

[2017-03-15 03:19] Barryrowe commented on #46
Perfect! thanks. I figured there would be a way to do this that I just overlooked.

[2017-03-15 03:19] #46 closed

[2017-06-11 20:25] Subliminalman commented on #16
Is this change going to be be pulled in? My fans blaze after a few minutes with Yarn open.

[2017-06-12 07:02] desplesda commented on #16
I played with the live demo that @clexit put up (thanks for doing that! Makes testing super handy :) ) - it feels pretty OK to me. Making sure that arrows always immediately redraw when you zoom is a very nice touch.

@clexit, would you like me to merge this in? (You didn't explicitly state that you wanted to, just that you were unsure if a PR was appropriate, so I'm double-checking to be sure.)

[2017-06-28 10:28] rcuddy commented on #37
This 'clear' action on ctrl + z still happens, but at least on 0.2.1 ctrl + y puts the text back.

From what I can tell in the debugger the bit that's causing this to happen is ace.js undoChanges function. It calculates a delta of changes and if I understand it correctly, the act of loading a node into the ace editor causes a delta state of "it was empty, then I had a bunch of text". The wierd set

[2017-06-29 09:44] clexit commented on #16
Yeah, I wasn't sure if you prefer super smooth arrows or less CPU consumption. I opened https://github.com/InfiniteAmmoInc/Yarn/pull/50

[2017-07-26 22:03] darthbator commented on #16
Is this planning to be pulled in? I'm sort of just pining this issue to remind everyone about it :)

[2017-07-27 01:02] desplesda commented on #16
Merged #50! Thanks for the reminder.

[2017-07-27 01:02] #16 closed

[2017-07-27 16:00] Subliminalman commented on #16
Thanks for getting that in! Worked on stuff last night and my lap didn't catch fire 😄

[2017-08-02 16:34] jettraverso commented on #44
My friend and I are using the browser editor, and we cannot save either. Is this a bug from a recent release?

[2017-08-09 17:39] Klash120 commented on #44
Ditto. Using Chrome. Disabling any Adblocker seems to allow saving. Though, nothing will load now :x

[2017-09-28 14:53] bottazzi1900 opened #56 "Command to go automatically from a node to another without options"
Hello. I would ask if there is a way to connect two nodes without insert an option that the player must click.
For example, I have:

NODE1
[[Talk with him | NODE2]]
[[HIt him | NODE3]]

NODE2
Hello

I want that from the NODE2, the player returns automatically to the NODE1. Do you know if there's a specific command?

[2017-10-15 20:00] catherineomega commented on #29
Robert Yang made an excellent tool for just this purpose: https://github.com/radiatoryang/Yarn-Weaver

Someone should add it to the docs! :)

[2017-10-16 01:24] desplesda commented on #29
Agreed! Send in a pull request and I'll merge it!

[2017-10-26 20:33] LiamSauve opened #59 "Multiple yarn instances not possible"
would be nice if you could open multiple yarn instances (at least on Windows, not sure about other platforms)

[2017-11-03 18:23] Dreaddisk opened #60 "exactly 262 errors while installing Yarn in my project's forlder."
After put the yarn folder in my projects folder. I get in my console 262 errors from the app JS file.

[2017-11-03 21:23] bowlercaptain commented on #60
Hey Dreaddisk - it sounds like you've put Yarn inside of a Unity project; Yarn is actually meant to be used outside of Unity, like a text editor or any other application. It has "js" files, but as you've seen, they're not built on unity's API, they compose a NW.JS app.

You should use Yarn outside of your project, but when you go to save and export your scripts, *those* you would want to save to y

[2017-11-07 02:54] Dreaddisk commented on #60
Hello Robert. I have a really stupid question to make, How can I open the YarnSpinner editor? and now that we are at it, how can I also open the Yarn editor? Thank you, and sorry, but I'm really confuse because I can't find any exe file that tells me how can I open the editor.

________________________________
From: Robert Mock <notifications@github.com>
Sent: Friday, November 3, 2017 9:23:11 PM
T

[2017-11-21 17:05] drdgvhbh opened #61 "Please put the build zip in a folder"
Its really frustrating when I extract something in my downloads folder and the contents go everywhere because the files were not zipped inside a folder. Please consider this and update the latest build.

[2018-02-20 16:37] tlein opened #62 "Panning using Alt+Drag produces heavy lag immediately"
**Problem:** When using Alt+Drag to pan the canvas it will work smoothly for ~1 second and then suffer from heavy slowdown. Provided is a screenshot with an example.
![yarn_lag](https://user-images.githubusercontent.com/815242/36436389-b4d376f0-1629-11e8-9c0f-a3919070c4a6.gif)
This problem occurs in both master (commit c353da7604b3cb9e3bd14897a3dc64601eebf9e5 at the time of writing this issue), an

[2018-03-01 21:10] benswinden commented on #62
Found the commit that broke it.. it's been busted for a long time haha.. wondering why nobody else brought this up?
Here's the offending commit:
https://github.com/InfiniteAmmoInc/Yarn/commit/cd6f73a628f8f9c6ec12dd9b59aac7b5773cd3f8

[2018-03-01 21:16] AndrewD2 commented on #62
Probably easiest for you to fork and submit and PR.

[2018-03-02 17:10] DongerZone opened #64 "Exporting back to Twine?"
Twine doesn't use the .twee format anymore, so I'm not able to even use the Twee export tool at all.

[2018-05-15 08:55] jmcshopes opened #65 "CDATA Format for body in XML export"
It would be helpful to have a CDATA container on the body element within the XML format so that angled brackets can be used without making the XML poorly structured.

The highlighting of conditionals/code snippets contained in <<>> is very helpful and a good way to have inline code, but it's a bit of a problem when using Yarn as a way to generate XML files, as angle brackets are interpreted by mos

[2018-06-01 21:30] blurymind opened #66 "ported Yarn to Electron"
For anyone interested, there are a couple of small things to change to get it to work, but it works 👍

I can do a pull request if Yarn's creators are interested :)

[2018-06-02 21:24] blurymind opened #67 "Idea: Bundle yarn with gdevelop - a great open source game engine"
Gdevelop is an incredibly fun and user friendly open source game engine that allows even people with no programming knowledge to create games.
https://gdevelop-app.com/
For programming it uses event sheets - similar to the ones in construct2 and clickteam fusion.
![events 88952ff1](https://user-images.githubusercontent.com/6495061/40881039-af294168-66b4-11e8-888c-e186ff390af5.png)

Now the reason

[2018-06-12 14:33] charblar commented on #66
Pull request was created (https://github.com/InfiniteAmmoInc/Yarn/pull/68), closing.

[2018-06-12 14:33] #66 closed

[2018-06-12 14:36] charblar commented on #29
Being implemented via [bondage.js](https://github.com/jhayley/bondage.js) in https://github.com/InfiniteAmmoInc/Yarn/issues/29.

[2018-06-12 14:38] charblar commented on #24
Resolved in PR https://github.com/InfiniteAmmoInc/Yarn/pull/25, closing.

[2018-06-12 14:38] #24 closed

[2018-06-12 14:40] #43 closed

[2018-06-12 14:57] charblar commented on #62
Added to master in https://github.com/InfiniteAmmoInc/Yarn/commit/7e2238547f2841a20fa1b1d4329ca4672b1eb644, closing.

[2018-06-12 14:57] #62 closed

[2018-06-12 15:00] charblar commented on #61
Will keep in mind for future builds, closing.

[2018-06-12 15:00] #61 closed

[2018-06-12 15:04] charblar commented on #60
The Yarn editor can be opened via Yarn/app/index.html, for information on YarnSpinner please see the respective repo [here](https://github.com/thesecretlab/YarnSpinner).

[2018-06-12 15:04] #60 closed

[2018-06-12 15:15] charblar commented on #56
[[Return|NODE1]] should work. Depending on what you're parsing with it may or may not display the option if there is only one option and instead just jump to the connected node.

[2018-06-12 15:15] #56 closed

[2018-06-12 18:19] charblar commented on #45
Initialized the wiki for repository, I believe now that the home page is created others can contribute. Closing.

[2018-06-12 18:19] #45 closed

[2018-06-13 02:27] charblar commented on #59
Confirmed on my end, will revisit after finishing port to electron to see if this is still an issue.

[2018-06-13 02:29] charblar commented on #67
Sounds interesting, I believe this would be a question for @AlecHolowka to give his final say on.

[2018-06-13 02:31] charblar commented on #41
Will be working to compile documentation and differences on the repository's wiki in the near future.

[2018-06-13 02:32] charblar commented on #44
Confirmed, unable to reproduce workaround mentioned by @Klash120. Will readdress after finishing electron port.

[2018-06-13 02:36] charblar commented on #39
Not at this time, this may be possible in the near future when we port to electron and implement [bondage.js](https://github.com/jhayley/bondage.js) however.

[2018-06-13 02:36] #33 closed

[2018-06-13 02:38] #30 closed

[2018-06-13 08:46] blurymind commented on #67
yes of course, also up to @4ian - Florian Rival - the creator of gdevelop.

I just personally feel that the two projects compliment each other on many levels - much more than yarn and Unity do.
Both Yarn and gdevelop are built on top of the same technology, they are both open source and target the same type of creative people- young story tellers/designers.

Because of the license, you can literal

[2018-06-13 13:31] blurymind commented on #39
Yes, I can potentially add this and wrote some code for bondage.js to be able retrieve the contents of <<>> as a string, while the story is parsed.
This has not been merged yet, but if it does- It will enable me to add it to yarn's electron port :)

[2018-06-19 17:42] com1clyf3 commented on #27
I'm with @cjacobwade . This feature really enables quick branch design in Twine, and I expected it in Yarn.

[2018-06-21 15:19] blurymind commented on #59
@charblar This is a non-issue in the electron port :)
![yarnelectron](https://user-images.githubusercontent.com/6495061/41728489-d7138d96-756e-11e8-8e7b-9687a7768221.PNG)

@LiamSauve
You can download and test it here
https://github.com/blurymind/Yarn/releases/tag/untagged-1933231011a749959b56

[2018-06-21 18:19] blurymind commented on #34
like this?
![yarn-linkmaking](https://user-images.githubusercontent.com/6495061/41685764-7bf48d1a-74d9-11e8-89bc-b7bae39470f6.gif)

[2018-06-21 21:44] SkyAphid opened #69 "Brackets cause issues with inputted text"
Sorry for the weird title. To avoid confusion, I've attached a screenshot to hopefully explain the problem better.

My game uses a tag system of its own for identifying characters and objects, such as [[PLAYER_NAME]]. Coincidentally, you guys use the same scheme for indicating branching dialogue. This has caused a small issue, as you can see in the screenshot.

A simple solution is to just have it

[2018-06-22 07:56] blurymind commented on #32
I will add that in the electron port

[2018-06-22 08:35] blurymind commented on #32
Like this? =)
![yarn-dropfile](https://user-images.githubusercontent.com/6495061/41766680-8ce4ad2c-75ff-11e8-950e-f35346769c97.gif)
Comit coming later today

[2018-06-22 08:37] blurymind commented on #29
It's available in the electron port
https://github.com/InfiniteAmmoInc/Yarn/pull/68

Download it from here
https://github.com/blurymind/Yarn/releases/tag/untagged-1933231011a749959b56

[2018-06-22 08:53] blurymind commented on #69
I think your syntax is incorrect.
The brackets are used for branching dialogue choices, not for calling variables like that.
Your card is not even branching

I would assume that it should be
`$PLAYER_NAME`
@jhayley can you advise? :)

[2018-06-22 09:10] blurymind commented on #31
This is probably fixed in the electron port (looks like a framework bug),
https://github.com/InfiniteAmmoInc/Yarn/pull/68
but I still havent made a mac build, also I dont have a mac to test with

[2018-06-22 14:12] SkyAphid commented on #69
We use a custom game engine, it's not part of any existing toolset. We were going to add support for Yarn to it, but ran into this bug. It's a pretty simple fix, you just need to switch the ending bracket identifier to use the last set rather than the first.

[2018-06-22 14:37] SkyAphid commented on #69
I took a look at the code, if I'm not mistaken, the problem is in app.js, getHighlightedText(). You're using text.replace(), you should try text.substring() with text.lastIndexOf(). (Assuming JS has an equivalent of that, I use Java primarily). I'll see if I can fix it myself.

[2018-06-22 16:55] SkyAphid commented on #69
I've fixed it. You guys can copy it over into your repo if you want. Though since I'm not familiar with the project code, these may not be the best solutions.

The edited files, `app.js, line 772,` and `mode-yarn.js, line 43,` can be found here:

mode-yarn changes, line 43:
https://pastebin.com/iRzzpZ4G
I've set up the bracket regex to always use the last occurrence of the brackets

app.js changes

[2018-06-27 09:21] blurymind commented on #69
@SkyAphid is the problem you describe a cosmetic issue with the editor? The letter coloring?

Yarn is just the editor, yarnspinner is the runtime to interpret the data. There is also bondage.js.
What game engine are you using? :)

[2018-06-27 19:06] SkyAphid commented on #69
It's definitely cosmetic and appears to work fine on export, but it's still hard to work with. I tried editing your code but had a bit of trouble wiring everything up the way I wanted, so I ultimately ended up [writing my own dialogue editor.](https://github.com/SkyAphid/JDialogue) Thanks anyway for your time! I really appreciate it.

[2018-06-28 04:31] naturally-intelligent opened #70 "Feature Request: Support for Resizing Nodes in Editor"
For example in Yarn format, adding another attribute:

position: 75,4
size: 70,50

With a resize hotcorner in the bottomleft on the Node GUI.

Would this be possible?

[2018-06-28 08:12] blurymind commented on #70
It is technically possible, but it will slightly change the format by adding two new node values- width and height

[2018-07-06 00:14] blurymind commented on #14
I am really glad Night in the woods didnt have voice overs :p

[2018-07-10 15:39] charblar commented on #70
As long as it wouldn't intervene with [YarnSpinner](https://github.com/thesecretlab/YarnSpinner) I don't see why not.

I do like the idea of having resizing only be possible via one corner 👍

[2018-07-10 15:40] charblar commented on #69
Issue has been dropped, closing.

[2018-07-10 15:40] #69 closed

[2018-07-12 16:02] shohan4556 opened #74 "unable to save as json file"
after creating a simple dialogue when I click **save as json** nothing happen. I did not found the json file in the app directory please tell me how to save file as json.

[2018-07-12 16:07] shohan4556 commented on #74
solved

[2018-07-12 16:07] #74 closed

[2018-07-13 04:45] netherchef opened #75 "SetValue turns Number into Bool"
Hi guys, I've got:

`variableStorage.SetValue (
			"$QuestProgress", new Yarn.Value (quest.activeQuestProgress)
		);`

"activeQuestProgress" is an INT, but when I print it it shows up as True. How would I add an INT variable to the Variable Storage? Thanks in advance!

[2018-07-13 05:10] netherchef commented on #75
Just realised I had "asBool" in the print. Going to go stick my head in a fryer now.

[2018-07-13 05:10] #75 closed

[2018-07-16 22:03] NamelessPerson opened #76 "Cannot build executable on latest electron commit"
Made sure to update npm and node. Runs fine with `npm start` but `npm run-script build` outputs

C:\Users\jjpma\Desktop\Yarn\node_modules\read-config-file\out\main.js:72
async function readConfig(configFile) {
      ^^^^^^^^
SyntaxError: Unexpected token function
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.M

[2018-07-17 03:20] blurymind commented on #76
If you run npm install and try again do you still get the error? I will try
to fix it when i get back to the uk in two weeks-if no one else has tackled
it

On Tue, 17 Jul 2018 01:03 Josh Phillips, <notifications@github.com> wrote:

[2018-07-17 13:42] NamelessPerson commented on #76
Yeah all the packages installed with no error and I tried deleting and installing again with no improvement

[2018-07-30 18:05] blurymind commented on #76
@NamelessPerson what version of windows, version of nodejs are you on?
I can't reproduce your problem at all
![capture](https://user-images.githubusercontent.com/6495061/43414701-751eb562-942b-11e8-9c08-b17a63df26ee.PNG)

[2018-07-31 14:15] NamelessPerson commented on #76
I'm on Windows 10 Pro 10.0.17134
Node 6.10.2
NPM 6.2.0

And the latest electron commit

[2018-08-01 16:50] blurymind commented on #76
@NamelessPerson please update nodejs to the recommended version
https://nodejs.org/en/

and try again

6 is pretty old now

[2018-08-01 17:17] NamelessPerson commented on #76
Yes that worked.

Sorry I must have not put in the right command trying to update using npm. I downloaded fresh and now it works.

Thanks,
Josh

[2018-08-01 17:17] #76 closed

[2018-08-09 18:36] b-erv opened #77 "Resizing window to narrow profile offsets connection lines"
When the Yarn window is close to or at its minimum width, any lines between nodes get shunted to one side and no longer line up. Happening for me consistently at various resolutions and display magnification settings.
![resize](https://user-images.githubusercontent.com/17258819/43918439-15efe6d4-9be1-11e8-9d2a-435489c3c8b5.gif)

[2018-08-09 20:26] blurymind commented on #77
Does that also happen in the electron version?

Also can you please zip the file you have open and attach it to your post
here

On Thu, Aug 9, 2018 at 7:36 PM b-erv <notifications@github.com> wrote:

[2018-08-10 21:35] b-erv commented on #77
Yes, the same behaviour is occurring for me across versions. Additionally, it happens the same way with all .yarn files, even newly-created ones. Such as here:
[demo.yarn.txt](https://github.com/InfiniteAmmoInc/Yarn/files/2279529/demo.yarn.txt)

[2018-08-11 06:37] julsam commented on #77
I've been able to reproduce the issue with the NWjs build (aka master) but not with the electron build.

Maybe it has to do with this? Not sure.
[code]

[2018-08-11 09:49] blurymind commented on #77
for the electron build - if it aint broke - no need to fix it :) might cause some regression

[2018-08-11 09:59] julsam commented on #77
@blurymind you misunderstood me :wink:
I was pointing out that the issue could be related to this css rule in the __master branch__, not the electron one :stuck_out_tongue:

This css rule will move the right menu buttons when the window's width is lower than 830px, which is when the issue with the arrows seems to be happening.
But I've only been working in the electron branch so far, so I'm not su

[2018-08-13 07:38] blurymind commented on #77
@julsam do we patch it in the nwjs version? I want to focus on maintaining the electron one

[2018-08-13 07:40] blurymind commented on #44
@RyokiRayn does that also happen in the electron version?

[2018-08-24 15:06] swakdaddy opened #78 "No connections are drawn when opening a Yarn file"
![image](https://user-images.githubusercontent.com/197153/44591986-05ca7780-a774-11e8-8de6-785a7274ed83.png)

OS: Windows 10.

Repro steps:
- Open Yarn version 0.2.1 for Windows.
- File -> Open -> Sally.yarn.txt
- Observe Yarn load the nodes, but draw no connections between nodes.

Including a file I know isn't working.

Thanks!

[Sally.yarn.txt](https://github.com/InfiniteAmmoInc/Yarn/files/23188

[2018-08-25 12:16] julsam commented on #78
Thank you for your reporting this bug :+1:

It seems like the issue comes from the line ending. When using the yarn.txt save format, Yarn is expecting only Unix type line ending and doesn't interpret correctly CR that Windows add. By default Yarn saves using LF only, but I guess the text editor you used changed it to CRLF.

Should be easy to fix, but in the meantime you can convert your files from

[2018-08-25 15:01] swakdaddy commented on #78
Thanks for the great info and the source of the problem.
I'm not sure what editor added CR. I only used Notepad++ and Visual Studio 2017.
I just tested editing/saving with whitespace visible and neither added CR.
I'll be sure to keep an eye out in the future.

Thank you! :-)

[2018-09-03 22:05] ViniciusMeirelles opened #81 "Zoom only works on connections, not nodes"
As the title says, when I use the mouse scroll wheel to zoom out of a file, only the connections get smaller. The nodes have fixed size.

[2018-09-07 18:46] naturally-intelligent commented on #70
Also want to add that this is the only thing that kinda prevents me from embracing Yarn more fully.  I yearn to see the full text inside each node.  Viewing it as an overview is a lot easier without having to click each node, since my nodes tend to have more text than fits.  I just don't understand how existing users can get by seeing a little bit of the text in each node - _what are these, nodes

[2018-09-07 19:46] blurymind commented on #70
@naturally-intelligent if that godot yarn parser works as well as bondage.js , I will make it a priority to add this for you ;)

[2018-09-09 03:57] naturally-intelligent commented on #70
Okay, I'll bite!  :)  Here is the first working version of my Godot Yarn Importer:

https://github.com/naturally-intelligent/godot-yarn-importer

cheers @blurymind

[2018-09-10 10:57] blurymind commented on #70
@naturally-intelligent All thats left is for someone to implement a usable parser
Here is a link to the tests that your parser must pass:
https://github.com/jhayley/bondage.js/tree/master/tests/yarn_files

My requirement is for a parser :)

[2018-09-11 02:35] naturally-intelligent commented on #70
Okay, I suppose these are Twine rules? Wait - don't answer that because I think we're getting off topic from the issue.  Could you please submit this as an issue here: https://github.com/naturally-intelligent/godot-yarn-importer  To continue discussion!  thanks

[2018-09-11 19:23] hadaramadrak opened #82 "When exporting as JSON, if you rename the file from 'file' it will incorrectly save the file. If you create the file as 'file' then rename it, the file will work correctly"
If I am exporting as a JSON the file will have the name 'file' by default.  If I save with this it will export correctly but if I name it to anything else, the file will not work.  If you export it as 'file' then renamed the file it will work correctly.

EDIT: Accidentally posted with out finishing the title/description

[2018-09-17 22:08] naturally-intelligent commented on #70
Trying to get this back on topic:

I've tried twice to add this feature myself, but can't figure out the GUI side of it. I tried adding the jQuery Resizable thing but failed. I can change the default size of nodes, which helps. Any tips? What widgets/components should this be using?

[2018-09-20 02:19] fragmental opened #83 "Does opening twee files still work?"
Every twee file I have tried to open with the Yarn editor has caused the error "Unknown filetype!".  This includes twee files that were exported from the Yarn editor.

However, I was able to open the twee file if it ended in .txt, and while the nodes were all there they had lost all their connections and the syntax for the connections was the same as it had been in twine, which doesn't work in yar

[2018-09-20 02:52] fragmental commented on #83
I was using the release version of the yarn editor (2016-08-15) and I tried the latest code.  Still has the same problem with .twee files, but I tried exporting a tw2 file and importing it and it seemed to work fine except that the connections were lost.  It was weird too, because the syntax was mostly fine, except that one line was missing it's carriage return/new line, and there were some additi

[2018-09-20 03:07] fragmental commented on #64
@DongerZone I think you can use twee2 to convert twee files into the html files that twine2 understands. [https://github.com/Dan-Q/twee2](https://github.com/Dan-Q/twee2).  But I haven't tried it.

[2018-09-20 03:15] fragmental commented on #64
https://twinery.org/forum/discussion/2849/can-i-import-a-tw-file-into-the-twine2-gui here is another potential option.

It would be nice if yarn could export twine2 files, but I'm actually more interested in importing them.

[2018-09-20 13:59] julsam commented on #83
Not sure if it's related to #78 & #79 or not 🤔
Can you post your files here (both .twee and .tw2) so i can try to reproduce it?

[2018-09-21 02:32] fragmental commented on #83
[TestStory1.zip](https://github.com/InfiniteAmmoInc/Yarn/files/2403697/TestStory1.zip)

Here's a zip file that contains the yarn story in .yarn.txt and a .twee and a .tw2 created with "save as twee" and "save as tw2" in the yarn editor.

I have also tried creating a twee with twine 1.4.2 and it also has the same result in yarn ("Unknown filetype!").

I have tested the twee from yarn editor in twin

[2018-09-21 03:10] fragmental commented on #83
I tested the twee file created with yarn, in tweego and it fails because it's looking for `:: StoryTitle`.
Adding:
[code]
to the twee makes it work, though.

[2018-09-21 04:02] fragmental commented on #83
Discovered something interesting.  Renaming a .twee to .tw2 before import seems to work fine, in yarn.

[2018-09-21 14:10] fragmental commented on #83
And I have also confirmed that if I edit the tw2 file, and remove the spaces between the Node name and the position, it then works correctly when I open it with the Yarn editor.

[2018-09-21 14:12] fragmental commented on #83
I have also installed twee2 and tested the tw2 file with it and it works fine, with or without the extra spaces.

[2018-09-24 17:36] fragmental commented on #29
@blurymind your link is dead

[2018-09-24 17:47] blurymind commented on #29
@fragmental its here
https://github.com/InfiniteAmmoInc/Yarn/tree/electron
Unfortunately @charblar hasn't made it the main branch, so there are no builds of it

[2018-09-24 17:53] fragmental commented on #29
@blurymind thanks.  I was looking for a windows build.  The win64 build link is dead, on the readme.

[2018-09-25 02:56] julsam commented on #70
So, I've this feature working, but I still have a few bugs to fix before publishing it. And I also have to test it with NWjs (I've been using the electron branch because I'm more familiar with it).

[2018-09-26 14:48] julsam commented on #81
Hi, does it happen every time? What version are you using / what OS?
It happened to me a couple times, only on MacOS with the electron branch. But i can't find a way to reproduce it, and I have no idea why it's happening...

[2018-09-26 15:30] julsam commented on #70
@naturally-intelligent  Can you give it a try? It's based on the electron branch, because it was easier for me to work on that branch, but porting it to the master branch should be fairly easy and probably won't require a lot of modification.
If you want to try it, but don't want to compile the code yourself with electron, tell me what os you use and I'll make you a build.
Otherwise, wait a few mo

[2018-09-26 16:35] julsam commented on #70
Published the nwjs version (master branch). Let me know if it works for you. I'll make a pull request later.

[2018-09-26 18:56] julsam commented on #70
Also, I should have mentioned it earlier, but the content is still clipped: there's a limitation of 1024 characters in the node.
Depending on the size of your project, you might want to try to put a bigger number.
At the start of node.js, you can change this line:
[code]
I have no idea how well or bad it will perform.

It would be great if yarn had any config option to customize the editor, but it

[2018-09-27 09:33] naturally-intelligent commented on #70
It works!  :)  I tried it just now.  Couldn't try it earlier (working).  BTW I'm on Linux with nwjs.  I upped the ClipNodeTextLength with no speed issues even on my ageing machine.  It even saves and loads from a yarn.txt file.

One issue: the resize operation locks the axii to make squares.  Can they be unlocked to make rectangles?  When I edited the yarn file directly and loaded it with a rectan

[2018-09-27 09:40] naturally-intelligent commented on #70
Just changing these lines in node.js:

[code]

To this:

[code]
Works fine for me!

[2018-09-27 09:45] naturally-intelligent commented on #70
Actually there is a problem with rectangular shapes:

![wonky-arrows](https://user-images.githubusercontent.com/6783606/46137810-a1ce1f80-c207-11e8-9799-d3dbbe89520d.png)

This could be a can of worms... :|

[2018-09-27 13:08] julsam commented on #70
Yeah, that's why i forced it to be a square.
I'm not sure how it could be fixed, I've tried to work on it yesterday but the math part is honestly a little too complicated for me and would require a complete rework of the arrows drawing logic :thinking:

[2018-09-27 13:35] julsam commented on #70
I'm actually the one that added this comment in my commit ^^ had to do a few changes in the 'updateArrows' function because the size was hardcoded.

I can't think of any issue the rectangular shape would cause. Good luck with it  :+1:

[2018-11-10 08:00] Flyingvette opened #84 "Request for minor(ish?) enhancements to make Yarn a CYOA printed book tool"
Would anyone be interested in making Yarn compatible for printed cyoa books?

[2018-11-23 22:05] blurymind commented on #78
This works fine in the electron version. Just tested it now.

Download it from
https://github.com/InfiniteAmmoInc/Yarn/pull/80

[2018-11-23 22:06] blurymind commented on #78
Can you try if it works in the electron version
https://github.com/InfiniteAmmoInc/Yarn/pull/80

I wonder how to fix this

[2018-11-24 10:11] blurymind commented on #78
ok I discovered something:
- the problematic file gets detected as a twee file,
- the fixed file from @julsam is detected as yarn text

[2018-11-24 10:57] blurymind commented on #83
thank you for submitting this report.
I have fixed both bugs in my pull here
https://github.com/InfiniteAmmoInc/Yarn/pull/80

[2018-11-24 10:59] blurymind commented on #29
I am going to update the links in my pull here:
#80
:)
I fixed some of the bugs you reported in it too

[2018-11-25 06:11] #84 closed

[2018-11-26 22:44] Flyingvette commented on #28
I use the windows version frequently, any love that it gets is much appreciated. I've managed to get most of the updates by just copying the new files over the current windows compilation on the front page, but its a little suspect at times.

[2018-11-28 17:29] Flyingvette opened #85 "Lag in large yarn file when repositioning cursor"
Using yarn in windows 10. Roughly 20k words and 50 nodes. Scrolling and moving around works well / smoothly, as does creating connections. However, double clicking on a node to open it has a noticeable lag, and repositioning the cursor via mouse click in a node has noticeable lag. Writing is completely smooth. Has anyone else experienced this?

[2018-11-28 19:04] blurymind commented on #85
Can you share a file that would cause this- for testing :)

[2018-11-29 04:16] Flyingvette commented on #85
Here you go, thank you for looking at it :) I confirmed that moving the cursor via the arrow keys is smooth and lag free - its any time the mouse is used to click that the lag shows up.
[lag test 1 -  11-28-18.json.txt](https://github.com/InfiniteAmmoInc/Yarn/files/2627573/lag.test.1.-.11-28-18.json.txt)

[2018-11-29 08:18] blurymind commented on #28
This is a bit tricky because yarn uses ace editor for text editing. Ace doesn't officially support links, which is what I would need to make some of the text clickable. There might be a way around this

[2018-12-17 22:21] Flyingvette commented on #85
Opened this file on a modern laptop and the problem went away. It seems that either the overhead on this size file is just too much for an older processor or maybe there is an unaddressed issue in the install or one of the associated files.

[2019-01-21 09:32] desplesda commented on #78
Fixed in c50b77c.

[2019-01-21 09:32] #78 closed

[2019-01-23 09:56] blurymind commented on #70
@julsam can you submit this as a pull to the electron branch please :)
I can have a look to see if we can sort out the connection arrows positioning issue.

[2019-01-25 12:16] blurymind commented on #28
This is now kind of in the new electron version :) If you select the text in the node link and right click on it, there is now an option to visit that node in the context menu
https://github.com/InfiniteAmmoInc/Yarn/pull/80

I have to release a bug fix release soon, as I noticed a few things that had to be fixed last night

[2019-01-26 04:04] NamelessPerson commented on #81
I have this problem often as well on Windows. I might suggest moving to graphics library like pixi to render the node graph. Currently am playing around with that

[2019-01-26 10:33] blurymind commented on #81
@NamelessPerson pull requests for that are welcome :) 👍

[2019-01-27 03:28] rdominick opened #89 "electron: Tab order in node editor"
If you hit TAB from the tags line on the node editor, the focus goes nowhere, It should send the cursor to the node body.

If you hit TAB many times from the tags line, it eventually puts focus on the node name. The editor is never selected.

[2019-01-27 03:38] rdominick opened #90 "electron: Add option to disable auto-creation of nodes"
My yarn interpreter has support for function calls instead of node names when making a choice -- i.e., [[Fight!|!e_go]]. Every time I edit a node with this feature in it, a node is created for the function and any choice that calls this function is linked to it, and it kind of makes this version of Yarn unusable for me. It'd be nice to be able to turn it off like the other auto-complete options.

[2019-01-27 11:31] blurymind commented on #89
that is actually a missing feature :)
Pull requests to add it are welcome

[2019-01-27 15:37] rdominick commented on #89
Since this is the way it worked before the toolbar, it's more of a bug, don't you think? :)

[2019-01-27 15:51] rdominick commented on #90
I'm using a Yarn interpreter that I implemented in Godot. It has the ability to load multiple Yarn files at once and call nodes in any of them. I have an 'os' yarn that holds base functionality -- but even if I created an "os_e_go" node there, the editor would create an empty node in any Yarn that called it.

I'd be more than willing to use the call syntax -- it's clearer, in any case, and I can j

[2019-02-04 12:17] tomdominer opened #91 "Version 0.2.1 Yarn Files Break in Version 0.3.5 of Yarn Portable"
I've created a simple story introduction file in yarn which doesn't get properly parsed in Yarn 0.3.5.

Nodes appear to be missing (i.e. Story.Apartment.Forms doesn't appear) and connections are lost. Also, if you open any node with connections (i.e. Choice.Green.Circle) it seems to break the 0.3.5 editor as you cannot close the node afterwards.

**File Open in 0.2.1**
![yarn_file_open_in_0_2_1](h

[2019-02-04 12:52] tomdominer commented on #91
Delving a bit deeper, it seems to be related to the newer version of yarn not being able to handle node connections without a label. Using the YarnSpinner documentation as an example, if you just put in [[GoToCity]] into a story node, without that node existing, the editor tries to create a node connection seems to fail, making about five new nodes and stops you from closing the node editor window

[2019-02-04 13:01] tomdominer opened #92 "Yarn 0.3.5 Cannot Handle Node Connections Without a Label"
Using the Yarn Spinner `[example dialogue documentation](https://github.com/thesecretlab/YarnSpinner/blob/master/Documentation/YarnSpinner-Dialogue/General-Usage.md)` as an example, if you create a new node and then paste in [[GoToCity]] as a node link without a lable, the editor seems to bug out. You cannot close the node, the text appears incorrectly and when you delete the text and then close t

[2019-02-04 13:07] tomdominer opened #93 "Yarn 0.3.5 Automatically Creates New Nodes When Connecting To Same Node"
This one might not be a bug, I am not sure.

If you create a node with a choice, and one of those choices is to run the same node again, the editor creates a new node with the same name. I've included an example file. If you open it in the 0.3.5 editor and then open and close the "Choice 1" node, the editor creates a new "Choice 1" node window, even though one already exists.

[Choice.Test.yarn.tx

[2019-02-04 14:00] blurymind commented on #93
this does indeed sound like a bug. thank you for reporting. I will look into it

[2019-02-04 14:03] blurymind commented on #92
Thank you for reporting. I will look into it

On Mon, Feb 4, 2019, 1:01 PM tomdominer <notifications@github.com wrote:

[2019-02-04 14:05] blurymind commented on #91
Thank you for attaching an example. Some of the new features have
introduced a few regressions. I have fixed some of them on git, but haven't
released a build yet

On Mon, Feb 4, 2019, 12:52 PM tomdominer <notifications@github.com wrote:

[2019-02-04 14:19] blurymind commented on #91
Hi, I can confirm that this has been fixed in the latest git version already via https://github.com/InfiniteAmmoInc/Yarn/commit/88e44eccb07434b10503d1499f57da2db1850de2 . I will soon release a new build. If you build electron version from git, it works

[2019-02-04 15:11] blurymind commented on #93
fixed this, will push a merge tonight :) Thank you for reporting and for providing an example file

[2019-02-04 15:12] blurymind commented on #92
can you provide an example file again please. It is really helpful with fixing these regressions

[2019-02-04 15:14] blurymind commented on #92
I think this is the same as https://github.com/InfiniteAmmoInc/Yarn/issues/91, if so it has already been fixed.
I just need to release a bugfix build soon

[2019-02-04 15:18] blurymind commented on #90
Can you link us to your interpreter,
I plan to add links to other interpreters for yarn files in different game engines. We need to stop giving unity complete monopoly over this :)

Please when you write and share plugins to interpret yarn files, follow the syntax rules. I quickly learned that we need to follow them, especially to be compatible with bondage.js and yarnspinner

[2019-02-04 17:21] tomdominer commented on #92
Where should I be looking for a new build @blurymind ? On the [main fork page](https://github.com/blurymind/Yarn)

[2019-02-04 19:06] blurymind commented on #91
build with a fix:
https://github.com/blurymind/Yarn/releases/tag/0.3.6

[2019-02-04 19:06] blurymind commented on #92
build with a fix:
https://github.com/blurymind/Yarn/releases/tag/0.3.6

[2019-02-04 19:06] blurymind commented on #93
build with a fix:
https://github.com/blurymind/Yarn/releases/tag/0.3.6

[2019-02-05 01:09] rdominick commented on #90
Oh, dangit, I came here to post about how it's not ready for use and it's not going to support dialog shortcuts anyhow, and then I thought of a nifty dumb way to get them to work and grr. If I can get that to work and I can get some sort of error messaging going and tighten down the type checking for operators to a sane level, I'll open up the repository.

[2019-02-05 09:48] tomdominer commented on #92
Check and fixed in version 0.3.6.

[2019-02-05 09:48] #92 closed

[2019-02-05 09:48] tomdominer commented on #93
Check and fixed in version 0.3.6.

[2019-02-05 09:48] #93 closed

[2019-02-05 09:49] tomdominer commented on #91
Check and fixed in version 0.3.6.

[2019-02-05 09:49] #91 closed

[2019-02-05 11:00] blurymind commented on #90
sweet =)
The more engines we get to work with yarn the better. In any case, I will try to update the main page a bit to invite for other devs to submit to us their interpreters. It would be god to get Yarn to work on other game engines. Unity should be just one of many options - it will help us spread it's adoption

[2019-02-06 15:06] tomdominer opened #94 "Feature Request: Unsaved Files Give Warning When Opening New Yarn Files"
I've lost a fair bit of work but forgetting to manually save my yarn file and moving to work on another. It would be great if the editor warned you of unsaved changes when you select to open a new file.

[2019-02-06 15:34] blurymind commented on #94
that is actually fairly easy to implement. I will pick it up if nobody is interested :)

[2019-02-06 19:10] blurymind commented on #94
implemented via https://github.com/InfiniteAmmoInc/Yarn/commit/dbf94c97c02e29524f6d7d6fc0240d29970420f9
:)
please try from git

[2019-02-06 19:31] Flyingvette commented on #94
If we don't have an autosave feature yet, it might be a good time to stick one in. Even just a single Autosave.json to the root directory every 15 minutes could be a lifesaver for someone.

You've been working really hard at this @blurymind. It's very appreciated :)

[2019-02-06 19:47] blurymind commented on #94
@Flyingvette can you open a new issue about it please :) It would help me with closing this one.
Will look into it

[2019-02-06 19:50] blurymind commented on #89
I think what happens is that all the buttons are now taking focus in the order, which is natural when there is now a new element there

[2019-02-07 05:02] rdominick commented on #89
Traditionally, in a UI with a toolbar, the toolbar buttons are not selectable via keyboard -- those buttons are shortcuts for menu items which have their own keyboard shortcuts.

If the toolbar buttons are getting focus than there is no visual feedback of that fact. You can trigger the current toolbar button with the spacebar, but the results are... unpredictable

Also, the node body is now never

[2019-02-07 08:52] blurymind commented on #89
fixed via https://github.com/InfiniteAmmoInc/Yarn/commit/dc6588e87fd3bd15887cc8d8bd295fab99b80c05

[2019-02-07 20:10] blurymind commented on #90
@rdominick I added this now via:
https://github.com/InfiniteAmmoInc/Yarn/commit/35b1663042bb3b7349274849d5ab00d3386a1d66

Download and build the latest from the electron branch, then extract this to your windows home folder:
C:\Users\YOU
[.yarn-story-editor.ini.zip](https://github.com/InfiniteAmmoInc/Yarn/files/2842507/default.yarn-story-editor.ini.zip)

[2019-02-07 23:20] rdominick commented on #89
Yes, it works quite well.

[2019-02-07 23:23] rdominick commented on #90
This works well, too. I've even added another option in my local copy: to turn off the preview mode altogether. I just want to see the code I've written as it is.

Thanks for this.

[2019-02-08 00:12] blurymind commented on #90
Please donate pull request and will see to merge it :)

[2019-02-08 00:13] blurymind commented on #89
In that case let's close this issue :)

[2019-02-08 00:16] rdominick commented on #89
Actually, I did find an issue while I was messing around: since the focus is triggered on blur, if you shift-tab away from the tags line it tabs forward to the editor instead...

[2019-02-08 00:23] blurymind commented on #89
Is that why you disabled the previewer altogether? :) Can you come up with a solution that does it in a better way and doesn't require adding new buttons to clutter the interface :)

[2019-02-08 08:57] blurymind commented on #89
Ok I

I fixed this properly now. Will do the commit tonight :)

[2019-02-08 10:02] blurymind commented on #90
ok scrap that for now, I am going to replace the ini file with a json one - to make it easier to maintain

[2019-02-08 14:06] rdominick commented on #90
I'll hold off until I see that as a commit, then.

[2019-02-08 19:05] blurymind commented on #90
@rdominick give it a try now :)
The json file should be automatically be created after starting and closing yarn for the first time. In it you will find the same variable which can be used to disable automatic node creation

[2019-02-08 19:11] blurymind commented on #94
@Flyingvette this is now in the latest electron version - you can enable automatic file saving by editing a json settings file that yarn editor creates when you close it.
https://github.com/InfiniteAmmoInc/Yarn/commit/c54dd56ad9df2e9702d5db95dbe081030cc315dd

open yarn-electron and close it. Then edit
`C:\Users\YOU\.yarn-story-editor.json`
[code]

to be
[code]
5 will make it auto save every 5 minu

[2019-02-08 19:27] blurymind commented on #89
should be fixed now, try again :)

via
https://github.com/InfiniteAmmoInc/Yarn/commit/c54dd56ad9df2e9702d5db95dbe081030cc315dd

[2019-02-13 08:59] blurymind commented on #85
It's still useful to have a file to stress test yarn with :) Thank you for providing one. I will close this issue for now.
Will reopen it if the bug comes back

[2019-02-13 08:59] #85 closed

[2019-03-04 04:53] zellfy opened #95 "About night in the woods localization"
Thank you for your working.
I just want to know if yarn can edite the dialogue from English to another type of lanuage, just like chinese.
Because I know that Night in the woods used spritefont of unity, I have to make a bitmap or something.
So can I use yarn to do it?
Thank you for reading.

[2019-03-29 20:38] arnemileswinter opened #96 "web hosted yarn instance"
would it be possible for you to host yarn as a web page?
perhaps on github pages?

[2019-04-04 12:53] blurymind commented on #96
it will take a bit of work,but I think it's possible yes :)

[2019-04-12 01:29] swakdaddy commented on #78
So I noticed that this fix doesn't seem to be included in Yarn-master somehow when you download the ZIP from Git.  I opened up data.js and added the fix manually, but it doesn't seem to work.
Dumb question, but do I need to compile something to get it to work?

[2019-04-12 15:28] blurymind commented on #78
Please attach the example file :)

On Fri, Apr 12, 2019, 2:29 AM swakdaddy <notifications@github.com> wrote:

[2019-04-14 12:54] swakdaddy commented on #78
The example file is already attached in the original post. See Sally.yarn.txt above.
It has the Windows-style line endings.
But, the problem is that this fix isn't in the git repo it seems.  At least, not when I download it like this:

![image](https://user-images.githubusercontent.com/197153/56093150-d8614400-5e92-11e9-9e2a-a7e6ed8041e1.png)

[2019-04-15 07:46] blurymind commented on #78
@swakdaddy this was fixed on the electron branch. You need to use that instead of master
https://github.com/blurymind/Yarn/releases/tag/0.3.6

[2019-04-18 15:51] swakdaddy commented on #78
@blurymind - Ah thanks. I'll grab the electron branch then since it seems you guys have been working more on it!

[2019-04-18 16:24] blurymind commented on #78
It has alot of the issues here fixed, it's just not the default branch yet
for some reason

On Thu, Apr 18, 2019, 4:51 PM swakdaddy <notifications@github.com> wrote:

[2019-07-22 16:23] evanmalmud commented on #95
I figure you most likely edit your flow with the Chinese in. And then your that yarn export in unity.
I might be wrong, just started using this.

[2019-07-29 15:21] blurymind commented on #96
Yarn is hostable, however loading/saving functionality is broken since it relies on nwjs to work.

I can submit a PR to fix that in the nwjs version of yarn. It would take a bit more work to convert the electron version to a webapp, since it relies on converting to webpack

[2019-07-29 17:37] blurymind commented on #96
wish granted :)
@charblar or @AlecHolowka will need to enable it from this git repo's settings in order to makeit available at:
https://InfiniteAmmoInc.github.io/Yarn/app/

meanwhile, you can use it at my fork here
https://blurymind.github.io/Yarn/app/

[2019-07-29 17:55] blurymind opened #98 "making the electron app also work as a webapp - wip"
I realized that before I can bundle yarn with gdevelop, I need to make it fully functional as a webapp. It had some load/save file issues, which I fixed for the nwjs version. Unfortunately the nwjs version is many many features and fixes behind the electron one atm.

Meanwhile the electron version switched to using npm and node_modules for fetching libraries, which resulted in more complex work to

[2019-07-31 14:45] zonk-ossian opened #99 "Expand Shortcut Nodes?"
My yarn interpreter has problems with the Shortcut style syntax so I need to expand each shortcut into its own node. Any ideas?

[2019-07-31 17:03] blurymind commented on #99
this is a known issue with bondage.js, which is what we use to parse the data when previewing it in yarn.
What game engine are you using? If it's unity, then your bug is for https://github.com/thesecretlab/YarnSpinner
If you mean the previewer in yarn editor, then your report is for bondage.js and i already raised an issue here https://github.com/jhayley/bondage.js/issues/31

[2019-07-31 17:04] #99 closed

[2019-08-27 00:27] Subliminalman opened #101 "electron - quick options don't work correctly in preview"
For the preview mode within the electron yarn app (version 0.3.6) on OSx  (haven't tried other platforms yet) it doesn't handle quick selections correctly. It will display the options but when it won't show the result. Rather it will hang on the selection, not show the result, then you have to select from the options again then it will go further into the script.

Here is the script I was testing

[2019-08-27 05:27] blurymind commented on #101
This is a known bondagejs bug that keeps getting filed here. I might try to
make a fix for bondagejs and update the library in yarn at some point

On Tue, Aug 27, 2019, 3:27 AM Ryan <notifications@github.com> wrote:

[2019-09-16 05:04] roxygen opened #102 "Wrong carriage position"
Hi! I tried to build/run application and got this problem with carriage. It placed with big offset from real one.

![image](https://user-images.githubusercontent.com/3707285/64935141-94c39980-d879-11e9-9fdf-2f57d2f94255.png)
![image](https://user-images.githubusercontent.com/3707285/64935166-c9375580-d879-11e9-914a-03b57779a34d.png)

[2019-09-16 06:02] blurymind commented on #102
Hi Roxy, this is a problem with ace editor which yarn uses, I thought I had
fixed. Are you running it on Windows or Mac?

On Mon, Sep 16, 2019, 6:04 AM roxygen <notifications@github.com> wrote:

[2019-09-16 12:49] blurymind commented on #102
Thank you for reporting this regression. It is fixed now via https://github.com/InfiniteAmmoInc/Yarn/commit/a4db7ee65368f3cf2d32cceebe8a84919d153e2b

[2019-09-16 12:49] #102 closed

[2019-09-16 18:01] blurymind commented on #98
This is now done and even merged to this branch. Closing this now

[2019-09-16 18:01] #98 closed

[2019-09-16 18:03] blurymind commented on #96
I read news of @InfiniteAmmoInc passing away, so it is unsure if anyone has access to the settings of this repository. I will continue to develop and maintain yarn here, but I have no access to the settings of the repository, so no way of hosting yarn on it - due to the need to enable hosting from the settings page

[2019-09-16 18:24] blurymind opened #103 "making the electron branch be the main one and the old one be moved to nwjs branch"
@charblar @AlecHolowka @InfiniteAmmoInc
Hi, I've been maintaining this repository for the last year or so. In that time I got to know yarn as a project very well and have added a big number of fixes and features to it. At first all I wanted was to port it to a more modern container than nwjs - electron.  Thus why the electron branch.
But with time the electron branch kept getting fixes and feature

[2019-09-16 18:26] blurymind commented on #103
I am asking this now, because if I get some affirmation, I will be able to close down almost all bug reports on this issue tracker

[2019-09-16 18:29] Subliminalman commented on #103
IMO I think this is the right path to take since the nwjs began to fall behind in terms of support and added features. I don't personally have any preference between electron and nwjs as platforms but having a version of Yarn that is more maintained is nice.

Just my two cents.

[2019-09-16 18:37] blurymind commented on #103
@Subliminalman thank you for affirming this choice to move to electron. In any case we will continue to keep the old nwjs branch and if its development becomes very active it may one day become the main one again. Open source is democracy after all :) right now the nwjs branch has a lot of missing features and bugs. Fixing them in both branches is wasted resource, which can be used to create a bet

[2019-09-16 19:43] Flyingvette commented on #103
I have not yet tried the electron branch for two reasons. 1 is out of fear of messing up my work flow (I use Yarn very frequently and have post processes in place that require the yarn.txt output exactly as it currently is - I don't know if it has been changed at all in the latest versions). 2 is that I am on Windows and there is no easy way (that I know of) to run the electron version as an execu

[2019-09-17 04:17] desplesda opened #104 "Next steps for the Yarn repo"
Hi, all.

As you may have heard, @InfiniteAmmoInc recently passed away. This has been a very difficult time for those of us who worked with him, and I'm grateful for those who reached out to me with condolences.

One of the difficulties surrounding his passing has been the fact that this repository on GitHub was one owned by Alec's personal account, which means that - as per GitHub's setup - he wa

[2019-09-17 04:51] ScrapGames commented on #104
I'm activily using YarnSpinner with my current project and will continue to contribute as I see needed :)
I can't see that being often enough for the elevated priviliges however - I'm just happy to be part of the community :)

[2019-09-17 17:39] blurymind commented on #104
I will continue to work on the editor and improve it. Especially now that it is about to get bundled with
https://github.com/4ian/GDevelop

The long therm plan is to make it bundable via npm. Hopefully hosting it under a subdirectory of yarnspinner won't affect these two feature goals:
- hosting yarn's web build on its own git as a live webapp that runs in the browser and can be used by
 any devic

[2019-09-17 20:53] blurymind commented on #103
@Flyingvette
In terms of file parsing, the electron branch is identical to nwjs, even has fixes. You shouldn't experience any problems :) Please give it a try. If you find any problems, report and I will fix them for you asap.

to compile it, you just look at the read me. You run `npm install`, after its finished `npm start`
this will run it on localhost in your browser. Then cd into the electron

[2019-09-17 20:59] Subliminalman commented on #103
I personally still like having offline access so it would be good to have release pages.

On another note with the npm run build command it currently only supports windows and linux. I have it updated on my local branch to create a mac version. Can we either add it to the main build or add an additional command for each platform?

[2019-09-18 02:25] #83 closed

[2019-09-18 03:04] desplesda opened #105 "This repository has moved."
Hi all,

Following the discussion at #104, we've created a new repo, and copied the contents of this repo over.

You can find the new repo at https://github.com/YarnSpinnerTool/YarnEditor.

I've copied all of the issues that are currently present in this repo over. However, GitHub doesn't allow me to directly transfer issues to a repo that's in a different organisation, so what appears in the [Iss

[2019-10-28 16:04] NJBischoff commented on #104
Thanks guys. We are using Yarn in a massive 70,000 word project and it has been great!